- Q1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

In [2]:
# string
n = "hello"
type(n)

str

In [3]:
#list
n1 = [1,2,3,"hi",34]
type(n1)

list

In [4]:
# float 
n2 = 23.45
type(n2)

float

In [5]:
# typle
n3 = (456,77,88,99,100)
type(n3)

tuple

### Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.

-  What will be the data type of the above given variable.

In [6]:
var1 = ' ' # data type is string
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]' # datatype is string
type(var2)

str

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ] # data type is list
type(var3)

list

In [10]:
var4 = 1. # data type is float
type(var4)

float

## Q3. Explain the use of the following operators using an example:
- (i) /
- (ii) %
- (iii) //
- (iv) **

In [11]:
a = 10
b = 3

In [14]:
# division operator /
a/b

3.3333333333333335

In [18]:
# modulo operator give us remainder
a%b
print(f"the remainder of 10/3 is :  {a%b}")

the remainder of 10/3 is :  1

In [20]:
# floor division
a//b
# floor division give integer values only

3

In [23]:
# ** 
a**b
#10**3 here power of 10 is 3

1000

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [28]:
l1 = [1,2,3,23.45,"Hello",True,"World",2.0,3,4.5,6]
for i in l1:
    print(f"{i}    --->    {type(i)}")

1    --->    <class 'int'>
2    --->    <class 'int'>
3    --->    <class 'int'>
23.45    --->    <class 'float'>
Hello    --->    <class 'str'>
True    --->    <class 'bool'>
World    --->    <class 'str'>
2.0    --->    <class 'float'>
3    --->    <class 'int'>
4.5    --->    <class 'float'>
6    --->    <class 'int'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [6]:
n = int(input())
i = int(input())
count = 0
while i<n:
    if n%i==0:
        print(i)
        count = count+1
    i = i+1
print()
print(f"The times {n} is divisble is : {count}")

 100
 10

10
20
25
50

The times 100 is divisble is : 4

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [9]:
list1 = list(range(100,125+1))

for i in list1:
    if i%3==0:
        print(i)

102
105
108
111
114
117
120
123

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

## MUTABLE
- mutable object can be changed after it is created.
- for example list,dict,set

In [10]:
l3 = [1,2,3,4.5,6,7.8]

In [12]:
l3[3] = 4
l3[-1] = 7

In [13]:
l3

[1, 2, 3, 4, 6, 7]

## Dict

In [18]:
dic = {"marks":35,
      "name":"Ajay"}
dic

{'marks': 35, 'name': 'Ajay'}

In [19]:
dic["marks"] = 85
dic

{'marks': 85, 'name': 'Ajay'}

## SET

In [22]:
import numpy as np

set1 = set((np.random.randint(50,100,5)))
set1

{57, 63, 75, 82}

In [30]:
set1.update([49,50])

In [31]:
set1

{49, 50, 57, 63, 75, 82}

## IMMUTABLE

- immutable object can’t be changed after it is created.
- tuple

In [33]:
tup = (1,2,3,4.5,6,7.8)
tup

(1, 2, 3, 4.5, 6, 7.8)

In [34]:
tup[7.8] = 5

TypeError: 'tuple' object does not support item assignment